.authentication-container {
  display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
    //background-image: url("https://i.pinimg.com/564x/27/64/1b/27641bebfb0e947d673abcb904d655d9.jpg");
  



  }
  